<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="timer" class="ru.otus.beans.TimeService">
        <property name="pattern" value="HH@mm@ss" />
    </bean>

    <bean id="userService" class="ru.otus.dao.UserDao">
    </bean>

    <bean id="adminService" class="ru.otus.dao.AdminDao">
    </bean>
</beans>